/* styles.css */

body {
    background-color: #000;
    color: #fff; /* Set text color to white for visibility */
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin to fit background color */
    padding: 0; /* Remove default padding to fit background color */
}

h2 {
    color: #fff; /* Set the heading text color to white */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

.input-section, .data-section {
    background-color: #000; /* Set the background color to black */
    color: #fff; /* Set the text color to white */
    padding: 20px;
    border-radius: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: #000; /* Set the input text color to black */
}

#team-list {
    color: #fff; /* Set the text color inside the team-list to white */
}

button, a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
