@font-face {
    font-family: 'Super Brigade';
    src: url('SuperBrigade.woff2') format('woff2'),
        url('SuperBrigade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

